<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.goodo.pdjfy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/logo120"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homepage.HomePageActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.NewsListActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".homepage.HomePageNewsDetailActivity"
            android:label="@string/title_activity_home_page_pic_detail"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".homepage.HomePagePicDetailActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".homepage.LoginActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".main.MainActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".announcement.AnnounceDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".announcement.AnnounceClassifyListActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".announcement.AnnounceClassifyOneListActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".schedule.ScheduleDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".schedule.AddScheduleActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".schedule.EditScheduleActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.AllEmailReceiveActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.AllEmailSendActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.AllEmailDraftActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.AllEmailTrashActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.InnerEmailReceiveActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.InnerEmailSendActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.OuterEmailReceiveActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.list.OuterEmailSendActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.EmailDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.send.SendInnerEmailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.SelectPersonActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".email.send.SendOuterEmailActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>